body {
  background: #6CCFDA!important;

}


nav {
  background-color: #2888D4;
  padding: auto;
  height: 70px;
  position: relative;
}

nav h2 {
  font-family: 'Special Elite', cursive;
  color: white;
}

navbar {
  margin: auto;
  height: 300px;
  width: 100%;
  text-align: center;

}

#middleSection {
  font-family: 'Cabin Sketch', cursive;
  margin-top: 20px;
  margin-left: 170px;
}

#topButtons {
  margin-top: 30px;
  margin-left: 630px;
}

a {
  display: inline-block;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  padding-top: 10px;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  /*padding: 20px;*/
}
 h3 {
   font-family: 'Special Elite', cursive;
 }

 p {
   font-family: 'Cabin Sketch', cursive;
 }
