body {
  background: #6CCFDA !important;
  padding: 70px;
  width: 2100px;
}



nav {
  background-color: #2888D4;
  padding: auto;
  height: 70px;
  position: relative;
}

nav h2 {
  font-family: 'Special Elite', cursive;
  color: white;
  padding-left: 20px;
}

navbar {
  margin: auto;
  height: 300px;
  width: 100%;
  text-align: center;

}

#middleSection {
  font-family: 'Special Elite', cursive;
}

#topButtons {
  margin-top: 30px;

}

a {
  display: inline-block;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  padding-top: 10px;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  /*padding: 20px;*/
}
 .bodyHeader {
   font-family: 'Special Elite', cursive;
   /*color: #F4F4F4 !important;*/
   padding-top: 40px;
 }

form {
  margin: 10px;
  /*font-family: 'Special Elite', cursive;*/
}

.midbuttons {
  margin: 0px 5px 0px 5px;
}

#searchIt {
  margin-bottom: 20px;
  margin-left: 40px;
}


.anotherTemplate {
  padding-left: 50px;
}


#revealIt {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 900px;
  border: 1px solid black;
  background: #F4F4F4;
  display: inline-block;
  float: right;
  visibility: hidden;
  /*font-family: 'Special Elite', cursive;*/
}



#displayIt {
  /*min-height: 100px;*/
  /*height: auto;*/
  margin-top: 20px;
  width: 1000px;
  border: 1px solid black;
  padding-top: 10px;
  visibility: hidden;
  background: #F4F4F4;
  display: inline-block;
  float: left;

}

.episodeSection {
  margin-left: 90px;
  padding-top: 15px;
}

.episodeImage {
  height: 140px;
  width: 250px;
  /*border: 1px solid black;*/
  position: relative;
}

.addIt {
  /*position: absolute;
  top: 17px;
  left: 300px;*/
}

.episodeDetails {
  position: absolute;
  left: 300px;
  /*height: 300px;*/
  width: 300px;
  margin-left: -270px;
  margin-bottom: 30px;
  border: 1px solid black;
  background: white;
}

#cornerButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.template {
  display: none;
}

.copy {
  display: none;
}
