body {
  background: #6CCFDA;
}


nav {
  background-color: #2888D4;
  padding: auto;
  height: 70px;
  position: relative;
}

nav h2 {
  font-family: 'Special Elite', cursive;
  color: white;
}

navbar {
  margin: auto;
  height: 300px;
  width: 100%;
  text-align: center;

}

#middleSection {
  font-family: 'Special Elite', cursive;
}

#topButtons {
  margin-top: 10px;
  margin-right: 50px;
}

a {
  display: inline-block;
  height: 30px;
  width: 100px;
  border: 1px solid black;
  padding-top: 10px;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  /*padding: 20px;*/
}
 h3 {
   font-family: 'Special Elite', cursive;
 }

form {
  margin: 10px;
  font-family: 'Special Elite', cursive;
}

.midbuttons {
  margin: 0px 5px 0px 5px;
}

#searchIt {
  margin-bottom: 10px;
  margin-left: 40px;
}

#displayIt {
  /*min-height: 100px;*/
  /*height: auto;*/
  width: 1000px;
  border: 1px solid black;
  padding-top: 10px;
  visibility: hidden;

}

.episodeSection {
  margin-left: 90px;
}

.episodeImage {
  height: 140px;
  width: 250px;
  /*border: 1px solid black;*/
  position: relative;
}

.addIt {
  /*position: absolute;
  top: 17px;
  left: 300px;*/
}

.episodeDetails {
  position: absolute;
  left: 300px;
  /*height: 300px;*/
  width: 300px;
  margin-left: -270px;
  margin-bottom: 30px;
  border: 1px solid black;
}

.template {
  display: none;
}
